.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.CheckoutProduct__info{
    padding-left: 20px;
}

.CheckoutProduct__info > button{
    background: orange;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(180, 132, 43);
    color: #111;
}

.CheckoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.CheckoutProduct__rating{
    display: flex;


}

.CheckoutProduct__title{
    font-size: 17px;
    font-weight: 800;


}